# 复制为.env.local后填写


API_KEY =
MODEL = 
BASE_URL =
MAX_TOKEN =
# 以下配置有默认值，不填则自动填默认值

#思考超时时间,单位为s
TINKING_TIMEOUT = 30
#回答确定度，0为最确定，2为最随机(0,1,2)
TEMPERATURE = 0
#是否流式输出，暂不支持，为后续扩展保留(False,True)
STREAM = False
#重试次数
RETRY_NUM = 2